html {
  background-color: lightblue;
  height: 100;
  width: 100;
}

header {
  font-size: 50px;
  color: goldenrod;
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-text {
  position: absolute;
  top: 41;
  left: 50;
  transform: translate(-50, -50);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  max-width: 100;
}

h3 {
  color: darkblue;
  font-size: 34px;
}

p {
  color: purple;
  font-size: 24px;
  font-weight: bold;
}

body {
  background-color: gold;
}
